.root {
    height: 100vh;
    background-color: #616161;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sider-top {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sider-top-text {
    color: white;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
}

.header * {
    color: white;
}

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}